 

/* Media Query für Desktop-Bildschirme */
@media only screen and (min-width: 768px) {
    /* CSS-Regeln, die nur auf Desktop-Bildschirmen angewendet werden sollen */
    .container {
        display: flex;
        background-color: red;
        margin-bottom: 20px;
        padding-left: 10px;
        padding: 10px;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px; 
        border-top-right-radius: 20px; 
        border-bottom-right-radius: 20px; 
        margin: 10px;
    }
    
    .image {
        border-radius: 50%;
    }
    
}

.flexcontainer {
    display: flex;
}

/* Allgemeine CSS-Regeln für alle Bildschirmgrößen */

/* Media Query für Smartphones */
@media only screen and (max-width: 768px) {
    /* CSS-Regeln, die nur auf Smartphones angewendet werden sollen */
    .container {
        display: flex;
        background: var(--bg-color-cardimage);
        min-width: 250px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    
    .image {
        border-radius: 50%;
        padding-right: 10px;
    }
    
}


.textcontainer {
    color: white;
}

.href{
    text-decoration: none;
}

.textcontainer h1:first-child {
    color: white;
    font-size: 1.2em;
    font-family: 'komikax', sans-serif;
    margin-top: 1px;
}


@font-face {
    font-family: 'Impact';
    src: url('../../../../public/fonts/komikax/KOMIKAX_.ttf') format('truetype');
  }
   